<!DOCTYPE html>
<html>
    <head>
    <meta charset = 'UTF-8'>
    <link rel="stylesheet" href="static\css\estilos.css">
    </head>
    <body>
        <div class="barra-top">
            <nav>
            <div class="logo"> Aqui ficará um logo</div>
            <div class="menuzin"><a href="index.html"> MENU </a> | <a href="minhas_informacoes.html"> MINHAS INFORMAÇÕES</a> | <a href="rotina.html"> ROTINA </a> | <a href="profissional.html"> PROFISSIONAL </a> | <a href="hobbies.html"> HOBBIES</a> </div>
            </nav>
        </div>
        <section>
        <div>
            <h1 id="titulo" > Hobbies</h1>
        
            <p > Aqui haverá uma lista de hobbies  </p>
            
        
        </div>
        </section>

        <div class="barra-down">
            <footer>
            <h4 class="texto-bottom" > Contatos</h4>
            <p class="texto-bottom" > Instagram: @juhhgayotto</p>
            <p class="texto-bottom" > Linkedin: Júlia Gayotto</p>
            </footer>
        </div>
     


    </body>