<!DOCTYPE html>
<html>
    <head>
    <meta charset = 'UTF-8'>
    <link rel="stylesheet" href="static\css\estilos.css">
    </head>
    <body>
        <div class="barra-top">
			<p class="logo"> Aqui ficará um logo</p>
            <a href="index.html"> MENU </a> | <a href="minhas_informacoes.html"> MINHAS INFORMAÇÕES</a> | <a href="rotina.html"> ROTINA </a> | <a href="profissional.html"> PROFISSIONAL </a> | <a href="hobbies.html"> HOBBIES</a>        </div>
        <br>
		<div> <h1 id="titulo" > Minhas informações</h1>
		</div>
        <div class="direita">
           
        <ul class="texto">
			<li> <h2> Nome Completo: Júlia Sousa Gayotto </h2> </li>
			<br>
            <li> <h2> Idade: 18 anos</h2> </li> 
			<br>
            <li> <h2> Data de nascimento: 31/05/2003</h2> </li>
			 <br>
            <li> <h2> Cidade de nascimento: São Paulo </h2> </li>
			<br>
            <li> <h2> Cidades que já morei: Caraguatatuba - SP | São José dos Campos - SP | São Paulo - SP</h2> </li>
			
         </ul>
        </div>
		<div class="esquerda" >
			<p id=circulo> 
				
				foto </p>
			
		</div>
	
        <br>

        <div class="barra-down">
            <h4 class="texto-bottom" > Contatos</h4>
            <p class="texto-bottom" > Instagram: @juhhgayotto</p>
            <p class="texto-bottom" > Linkedin: Júlia Gayotto</p>
        </div>
     


    </body>






</html>