<!DOCTYPE html>
<html>
    <head>
    <meta charset = 'UTF-8'>
    <link rel="stylesheet" href="static\css\estilos.css">
    </head>
    <body>
        <header>
            <img class="logo" src="static/imagens/logo.png" alt=""> 
            <div class="menuzin"><a class="botao" href="minhas_informacoes.html"> MINHAS INFORMAÇÕES</a> | <a  class="botao" href="rotina.html"> ROTINA </a> | <a class="botao" href="meus_projetos.html"> MEUS PROJETOS</a> | <a  class="botao" href="hobbies.html"> HOBBIES</a> </div>
        </header>
        
        <section>
		    <div class="titulo"> <h1> Minhas informações</h1> </div>
            <div class="info">
                <div class="esquerda" >
                    <img id=circulo src="static/imagens/foto.png" alt="">
                </div>
                <div class="direita">  
                    <p>   Olá, seja bem vindo(a) ao meu site. Meu nome é Júlia Sousa Gayotto e nasci no dia 31/05/2003 (18 anos) na cidade de São Paulo. Apesar de ser paulistana, não morei muito tempo por lá. Passei a maior parte da minha infância em Caraguatatuba e posteriormente me mudei para São José dos Campos, onde resido até hoje.</p>

                    <p>   Aqui em São José, conclui meu ensino médio integrado ao Técnico em Química, no Colégio Técnico Educàre, no Ano de 2020 e agora estou cursando Desenvolvimento de Software Multiplataforma na Fatec. Com o passar dos anos, também me tornei fluente em inglês e adquiri um nível de espanhol intermediário.</p>
               
                    <p> Atualmente, também venho estudando italiano, frances, russo e libras, além de fazer alguns cursos profissionalizantes da área de TI. </p>
                </div>
            </div>
	    </section>
        
        <footer>
            <h1>Contatos:</h1>
            <p> Instagram: @juhhgayotto</p>
            <p> Linkedin: Júlia Gayotto</p>
        </footer>
        
    </body>
</html>