<!DOCTYPE html>
<html>
    <head>
    <meta charset = 'UTF-8'>
    <link rel="stylesheet" href="static\css\estilos.css">
    </head>
    <body>
        <div class="barra-top">
            <nav>
            <div class="logo"> Aqui ficará um logo</div>
            <div class="menuzin"><a href="index.html"> MENU </a> | <a href="minhas_informacoes.html"> MINHAS INFORMAÇÕES</a> | <a href="rotina.html"> ROTINA </a> | <a href="profissional.html"> PROFISSIONAL </a> | <a href="hobbies.html"> HOBBIES</a> </div>
            </nav>
        </div>
        <section>
        <div>
            <p id="titulo" > Profissional</p>
        <ul class="texto">
            <li> <h2> Ensino Médio Completo</h2> </li>
            <p> Ano de conclusão: 2020</p>
            <br>
            <li> <h2> Ensino Técnico em Química</h2> </li>
            <p> Ano de conclusão: 2020</p>
            <br>
            <li> <h2> Inglês Avançado</h2> </li>
            <br>
            <li> <h2> Espanhol Intermediário</h2> </li>
            <br>
            <li> <h2> Italiano Básico</h2> </li>
            
         </ul>
        </section>
       
             

        </div>
        <div class="barra-down">
            <footer>
            <h4 class="texto-bottom" > Contatos</h4>
            <p class="texto-bottom" > Instagram: @juhhgayotto</p>
            <p class="texto-bottom" > Linkedin: Júlia Gayotto</p>
            </footer>
        </div>
     


    </body>






</html>