html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgba(248, 209, 246, 0.788);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    align-items: flex-end;
    justify-items: center;
    margin-left: 1vh;
    border-radius: 10%;

}

section{
    flex: 1 0 auto;
    
}

.fot-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fot{
    width: 25%;
    margin-left: 9vh;

}


.tex {
    font-size:x-large;
    text-align: justify;
    width: 75%;
    margin-right: 20vh;

    
}

.text-foto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.text {
    font-size:x-large;
    text-align: justify;
    width: 75%;
    margin-left: 10vh;
    margin-right:10vh;

    
}

.foto{
    width: 20%;
    margin-right: 18vh;
    align-items: top;
}

#mapa{
    width: 300px;
    height: 300px;
    border: 5px solid rgba(248, 209, 246, 0.788);
    border-radius: 50%;
    
}

.botao{
    color: black;
    padding: 1px;
    text-decoration: none;
    
}

#chess{
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

.esquerda{

    margin-left: 35vh;
    width: 50%;
    align-items:center;
    vertical-align: center;

}


.direita{
    width: 50%;
    font-size:x-large;
    margin-right: 30vh;
    margin-left: 10vh;
    text-align: justify;
    
    
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

#circulo{
    width: 420px;
    height: 500px;
    border:5px solid rgb(5, 5, 5);
    border-radius: 49%;
    filter: saturate(110%)
    
  
}

table{
    width: 70%;
    height: 55vh;
    align-items: center;
    text-align: center;
    margin-left: 13%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 2%;
    
    
}
.git{
    color: rgb(86, 86, 253);
}
.gitb{
    
    text-align: center;
}

.wireframe{
    width: 1000px;
    height: 600px;
   
}
.center{
    text-align: center;
}
.api{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.geo-text{
    font-size:x-large;
    text-align: justify;
    width: 85%;
    margin-left: 10vh;
    margin-right:5vh;
    margin-top: 4vh;

}

.di-text{
    font-size:x-large;
    text-align: justify;
    width: 80%;
    margin-left: 10vh;
    margin-right:10vh;
}

.esq-foto{
    width: 20%;
    margin-left: 9vh;
    
}
.e-foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.fatec{
    background-color: rgb(252, 209, 248);
}
.noticias{
    background-color: rgb(166, 252, 202);
}

.estudar {
    background-color: rgb(191, 224, 252);
}

.academia{
    background-color: rgb(253, 255, 161);
}
footer{
    flex-shrink: 0;
    background-color: rgba(248, 209, 246, 0.788);
   
}

.ingles{
    background-color: rgb(137, 249, 253);
}
.xadrez{
    background-color: rgb(212, 174, 255);
}
.italiano{
    background-color: rgb(255, 106, 106);
}

.cursos{
    background-color: rgb(214, 210, 210);
}

.ler{
    background-color: rgb(255, 211, 154);
}

.frances{
    background-color: rgb(185, 255, 144);
}
.russo{
    background-color: rgb(95, 150, 252);
}
.libras{
    background-color: rgb(243, 150, 194);
}

.espanhol{
    background-color: rgb(250, 234, 94);
}
.titulo{
    text-align: center;
    font-size:xx-large;
    margin-top: 1%
}
