
nav{
    background-color: rgba(248, 209, 246, 0.788);
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
section{
    height: 74vh;
}


 /* 
.texto{ 
    align: center;
    margin: 10%;
    margin-left: 2%;
    margin-top: 5%;
    position: relative;
    
}

.textorh{
    margin: center;
    margin-left: 39%;
    margin-top: 10%;


}

#titulo{
    align:center;
    color:rgb(0, 0, 0);
    margin: 2%;
    font-size: xx-large;
    margin-top: 3%;
    margin-left: 45%;
    

}

.texto-bottom{
    margin-left: 2%;
}



.esquerda{

    margin-left: 12%;
    width: 38%;

}


*/
.direita{
    margin-right: 20vh;
   
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#circulo{
    width: 350px;
    height: 450px;
    border: 5px dotted rgb(109, 255, 218);
    border-radius: 50%;
    
  
}

footer{
    height: 10vh;
    background-color: rgba(248, 209, 246, 0.788);
    position: relative;
	bottom:0%;
    
}

/*
.menu{
    margin: center;
    margin-left: 39%;
    margin-top: 4%;
    
}
.menu-esquerda{
    margin-left: 12%;
    width: 50%;
    text-align: right;
    
    


}
.menu-direita{
    margin-top: 0%;
    float: right;
    text-align: left;
    width: 54%;
    margin-left: 1%;
    

}
*/