.barra-top{
    background-color: rgba(248, 209, 246, 0.788);
    padding: 45px;
    width: 95%;
    text-align: end;
    
}

.texto{ 
    align: center;
    margin: 10%;
    margin-left: 2%;
    margin-top: 5%;
    position: relative;
    
}

.textorh{
    margin: center;
    margin-left: 39%;
    margin-top: 10%;


}

#titulo{
    align:center;
    color:rgb(0, 0, 0);
    margin: 2%;
    font-size: xx-large;
    margin-top: 3%;
    margin-left: 45%;
    

}

.texto-bottom{
    margin-left: 2%;
}

.direita{
    margin-top: 0%;
    float: right;
    text-align: left;
    width: 66%;
}
.esquerda{

    margin-left: 12%;
    width: 38%;

}
#circulo{
    width: 350px;
    height: 450px;
    border: 5px dotted rgb(109, 255, 218);
    border-radius: 50%;
    
  
}
.logo{
    text-align: left;
    width: 38%;
    float: left;

}


.barra-down{
    background-color: rgba(248, 209, 246, 0.788);
    padding-right: 45px;
    padding-bottom: 0%;
    position:absolute;
	bottom:0%;
	width: 97%;

}
.menu{
    margin: center;
    margin-left: 39%;
    margin-top: 4%;
    
}
.menu-esquerda{
    margin-left: 12%;
    width: 50%;
    text-align: right;
    
    


}
.menu-direita{
    margin-top: 0%;
    float: right;
    text-align: left;
    width: 54%;
    margin-left: 1%;
    

}
